- var navLinks = ['Home', 'About Us', 'Projects', 'Team', 'Testimonials'];

footer#footer
  article.wrapper
    .row.footer-wrapper
      .logo
        a(href="#header")
          include icons/logo.html
      
      p.copyright
        | Copyrighted, March 2018 
        br
        | By SunShine Builders 
        br
        | All 
        a(href="") Terms
        |  And  
        a(href="") Conditions
        |  Are Applied.
