header#header
  .row
    .col.span-of-12
      section(data-aos="zoom-out" data-aos-duration="1000")
        h1 <span>10</span> years
        h4 of experience in industry
        p At Construction, we strive to excel in every service we provide, adding value for our customers wherever possible, and thereby attaining national leadership in the construction industry.
        
        .btn-wrapper(data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000")
          .btn.btn-solid
            a(href="#projects") See Projects
          .btn.btn-ghost
            a(href="#about") About Us
