header
  .row
    .col.span-of-12
      h1 <span>10</span> years
      h4 of experience in industry
      p At Construction, we strive to excel in every service we provide, adding value for our customers wherever possible, and thereby attaining national leadership in the construction industry.
      
      .btn-wrapper
        .btn.btn-solid
          a(href="#") See Projects
        .btn.btn-ghost
          a(href="#") About Us
