nav
  .row
    .logo
      include icons/logo.html
  
    ul.nav-main
      li.nav-item
        a.nav-links(href="#") Home
      li.nav-item
        a.nav-links(href="#") About Us
      li.nav-item
        a.nav-links(href="#") Projects
      li.nav-item
        a.nav-links(href="#") Team
      li.nav-item
        a.nav-links(href="#") Testimonials
    
    #toggle
      .span#one
      .span#two
      .span#three

#resize
  ul.menu
    li.nav-item
      a.nav-links(href="#") Home
    li.nav-item
      a.nav-links(href="#") About Us
    li.nav-item
      a.nav-links(href="#") Projects
    li.nav-item
      a.nav-links(href="#") Team
    li.nav-item
      a.nav-links(href="#") Testimonials
