- var navLinks = ['Home', 'About Us', 'Projects', 'Team', 'Testimonials'];

nav
  .row
    .logo
      include icons/logo.html
  
    ul.nav-main
      each val in navLinks
        li.nav-item
          a.nav-links(href="#")= val
    
    #toggle
      .span#one
      .span#two
      .span#three

#resize
  ul.menu
    each val in navLinks
      li.nav-item
        a.nav-links(href="#")= val
