- var navLinks = ['Home', 'About Us', 'Projects', 'Team', 'Testimonials'];
- var navIDs = ['header', 'about', 'projects', 'team', 'testimonials'];

nav
  .row
    .logo
      a(href="#header")
        include icons/logo.html
  
    ul.nav-main
      each val,index in navLinks
        li.nav-item
          a.nav-links(href="#" + navIDs[index])= val
    
    #toggle
      .span#one
      .span#two
      .span#three

#resize
  ul.menu
    each val in navLinks
      li.nav-item
        a.nav-links(href="#")= val
