- var projectName = ['Royal Business Center', 'KYC Night Club'];
- var upcomingProjectName = ['Govt. Public Library', ''];
- var projectNumbers = 2;
- var counter = 0;
- var upcomingProjectNumbers = 1;
- var counter2 = 0;

section.project-section#projects
  .row
    h2 Projects
  
  while counter < projectNumbers
    .row.project-container
      .col.span-1-of-3
        img.project-image(src="assets/img/project-" + ++counter + ".jpg" alt= projectName[counter - 1])
      .col.span-2-of-3.project-details.--js-isWorking
    
  .row.upcoming-row
    h2 Upcoming Projects
  
  while counter2 < upcomingProjectNumbers
    .row.project-container
      .col.span-1-of-3
        img.project-image(src="assets/img/upcoming-project-" + ++counter2 + ".jpg" alt= upcomingProjectName[counter2 - 1])
      .col.span-2-of-3.project-details.--js-isUpcoming
