section.dark-section.subscribe-section#subscribe
  .row
    h2 Subscribe Now!
    p.kicker For All Future Updates
    form.subscribe-form
      input(type="email" required placeholder="Enter Your Email")
      input(type="submit" value="Subscribe").btn.btn-secondary-solid
