- var testimonialName = ['Hilda J. Pack', 'Ronald S. Alvarado', 'Ida G. Edwards', 'Ivan A. Gonzalez', 'Renee S. Rhoads', 'Manuel D. Dailey']

section.testimonial-section.dark-section#testimonials
  p.instruction *Click Face to show Testimonial
  .row
    h2 Testimonials
  
  .row.testimonial-row
    .span-1-of-2.mobile-content
      article.testimonial-content#--js-testimonial-content(data-aos="zoom-in-right" data-aos-duration = "1000" data-aos-delay="100")
    
    .span-1-of-2.mobile-list
      ul.testimonial-list
        each val, index in testimonialName
          li.span-1-of-3.--js-testimonial-img(data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay= index + "00")
            img(src="assets/img/testimonial-" + (index + 1) + ".jpg" alt = val)
