doctype html
html(lang="en")
  head
    include includes/_head.pug

  body
    
    include includes/nav.pug
    include includes/header.pug
    include includes/about.pug
    include includes/skills.pug
    include includes/projects.pug
    include includes/subscribe.pug
    include includes/team.pug
    include includes/clients.pug
    include includes/testimonials.pug
    
    //- TODO: alternative text to all images
    //- TODO: JS Comments
    //- TODO: SASS Comments

    script(src='assets/js/vendors.js')
    script(src='assets/js/app.js')
