doctype html
html(lang="en")
  head
    include includes/_head.pug

  body
    
    include includes/nav.pug
    include includes/header.pug
    include includes/about.pug
    include includes/skills.pug
    include includes/projects.pug
    
    script(src='assets/js/vendors.js')
    script(src='assets/js/app.js')
