html
  font-family: $mina-font-family
  font-size: 16px
  overflow-x: hidden
  @media(max-width: 775px)
    font-size: 14px
  @media(max-width: 475px)
    font-size: 13px

body
  overflow-x: hidden

.row
  width: 90%
  max-width: 1040px
  margin: 0 auto

section
  padding: 100px 0
  @media(max-width: 960px)
    padding: 50px 0

.dark-section
  background-color: $primary-color
  color: $white-color

.--js-html-overflow
  height: 100vh
  width: 100vw
  overflow-y: hidden
