h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: $josefin-font-family
  color: $secondary-color

h1
  font-size: 4em
  font-weight: bold
  text-transform: uppercase
  span
    font-family: $mina-font-family
    font-size: 1.5em
    color: $primary-color
h2
  font-size: 2.8em
  font-weight: normal
h3
  font-size: 2em
h4
  text-transform: uppercase
  font-size: 1.4em
  &::after
    content: ""
    margin-top: 10px
    display: block
    height: 4px
    width: 70px
    background-color: $primary-color
