.clients-section
  padding-top: 0
  text-align: center
  .img-wrapper
    margin: 0
    box-sizing: border-box
  img
    max-height: 40px
    filter: grayscale(0%)
    +transition(all, 0.2s, ease-in)
    &:hover
      transform: scale(1.2)
      filter: grayscale(100%)
