header
  height: 100vh
  margin-top: -80px
  +flex(row)
  text-align: center
  background-color: #000
  color: $white-color
  cursor: default

  h4
    text-transform: uppercase
    margin-top: -20px
  p
    width: 50%
    margin: 40px auto

.btn-wrapper
  .btn
    display: inline-block
    &:first-of-type
      margin-right: 20px
